<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- detalii  client  -->
                <div formGroupName="customer" class="form-area">
                    <h3>Client</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Nume</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Prenume</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label>Numar De Telefon </label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="phoneNumber" type="text">
                            </div>
                        </div>
                    </div>

                </div>

                <!-- adresa de livrare -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Tara</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option>TO DO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Strada</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Oras</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Judet</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option>TO DO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Cod Postal</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>

                </div>

                <!-- check box ptr duplicare adresa pe factura  -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Adresa de livrare identica cu cea de facturare
                    </label>
                </div>


                <!-- Adresa Facturare -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Tara</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option>TO DO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Strada</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Oras</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Judet</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option>TO DO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Cod Postal</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Card Credit -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Tip de Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Nume Titular Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Numar Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Cod De Securitate</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expira in luna</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{ month }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expira in anul </label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{ year }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Detalii Comanda  -->
                <div class="form-area">
                    <h3>Review Your Order</h3>

                    <p>Cantitate : {{ totalQuantity }}</p>
                    <p>Transport: Gratuit</p>
                    <p>Pret Total: {{ totalPrice | currency: 'EUR' }}</p>
                </div>

                <!-- submit button-->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Comanda!</button>
                </div>

            </form>

        </div>
    </div>
</div>